<div >
  <h1>Need some Stoic quotes or motivational quotes to get you through those rough moments? </h1>

  <p> Click below to receive some adivce from great Stoic leaders in history, or if you want a motivatinal quote </p>
  <img class="home_image" src="https://classicalwisdom.com/wp-content/uploads/2022/02/2022-02-04-2-500x291.png">
  <div>
    <form action="/motivation">
      <button class="motivation"> Motivational Quotes! </button>
    </form>
  </div>
  <br>
  <div>
    <form action="/stoic_quotes">
      <button class="button"> Stoic Quotes! </button>
    </form>
  </div>
</div>
