<div>
  <h3 class="head-text">Your Motivational phrase is.. </h3>

  <img class="motivation_img" src="https://img.freepik.com/premium-vector/silhouette-man-jumping-mountain_38887-53.jpg?w=740">

  <div>
    <p >"<%= @advice %>"</p>
  </div>

  <div>
    <form action="/motivation">
      <button class="motivation"> I would like to be motivated some more! </button>
    </form>
  </div>
